name: Build

on:
  push:
    branches: [ "main" ]
    tags: [ "*" ]
  pull_request:
    branches: [ "main" ]
  merge_group:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
        - build: ubuntu-24.04
          os: ubuntu-24.04
        - build: windows
          os: windows-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - run: rustup update
      shell: bash
    - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5
    - uses: baptiste0928/cargo-install@f204293d9709061b7bc1756fec3ec4e2cd57dec0
      with:
        crate: typos-cli
    - uses: baptiste0928/cargo-install@f204293d9709061b7bc1756fec3ec4e2cd57dec0
      with:
        crate: cargo-deny
    - uses: baptiste0928/cargo-install@f204293d9709061b7bc1756fec3ec4e2cd57dec0
      with:
        crate: cargo-readme
    - run: ./eng/build.sh
      shell: bash
